<legend><strong>{{ comment.author.username }}</strong> a dit : <span class="pull-right">{{ comment.dateCreation }}</span></legend>
<p class="comment-content">
    {{ comment.content | nl2br }}<br>
    <span class="pull-right">
    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	    	{% if comment.depth < 2 %}
	    		<a href="">Répondre</a>
	    	{% endif %}
	    {% endif %}
    	<a href="" class="comment_report">Signaler un abus</a>
    </span>
</p>

<div class="comment_anwser">
	{% for comment in comment.children %}
			{{ include("comment.html.twig") }}
	{% endfor %}
</div>