{% extends "layout.html.twig" %}

{% block title %}ticket.title{% endblock %}

{% block content %}
    <div class="row">
    	<p><a href="{{ path('home') }}">Accueil</a> > ticket.title</p>
    	<article>
    		<h2>{{ ticket.title }}</h2>
    		<p>{{ ticket.content|nl2br }}</p>
    		<p class="align-right italic"><span class="bold">Mis en ligne le :</span> {{ ticket.dateCreation }}</p>
    	</article>
    </div>
{% endblock %}