/**
 * CSS PROPERTY FOR APPLICATION :
 *
 * BilletSimpleAlaska
 */

/**
 * Main page properties
 */

a:hover, a:focus
{
	text-decoration : none;
}

body
{
	background-color : #E9EAED;
	padding-top : 70px;
	text-align : justify;
}

h1
{
	color : white;
	font-family: 'Open Sans', sans-serif;
	font-size : 2em;
}

h1 a, h1 a:hover, h1 a:focus
{
	color : inherit;
}

h2
{
	font-size : 1.5em;
	font-weight : bold;
	text-align: center;
}

nav
{
	background-color : #333333;
	padding-bottom : 10px;
}

footer
{
    border-top : 1px solid #ccc;
    padding-top : 10px;
    text-align : center;
}

.align-right
{
	text-align : right; 
}

.bold
{
	font-weight : bold;
}

.italic
{
	font-style : italic;
}

.path
{
	background-color : white;
	border-bottom : 1px solid #ccc;
	margin-bottom : 20px;
	line-height: 40px;
}

.path p
{
	margin-bottom : 0px;
	padding : 0px;
}

/**
 * Ticket view specifications
 */


article
{
	background-color : #FFFFFF;
	border : 1px solid #b1b1b1;
	border-radius : 5px;
	margin-bottom : 20px;
	padding : 0 20px 10px 20px;
}

/**
 * Comment specifications
 */

fieldset
{
	background-color : #FFFFFF;
	border : 1px solid #b1b1b1;
	padding-bottom : 40px;
}

legend span
{
	font-size : 0.5em;
	margin-top : 9px;
}

.well
{
	padding-bottom : 40px;
}

.well a
{
	color : #e74c3c;
	margin-bottom : 20px; 
}