/**
 * CSS PROPERTY FOR APPLICATION :
 *
 * BilletSimpleAlaska
 */


/**
 * Main page properties
 */


a:hover, a:focus
{
	text-decoration : none;
}

body
{
	background-color : #E9EAED;
	padding-top : 80px;
	text-align : justify;
}

h2
{
	font-size : 1.5em;
	font-weight : bold;
	text-align: center;
}

nav
{
	background-color: #3b3b3b;
}

footer
{
    border-top : 1px solid #ccc;
    padding-top : 10px;
    text-align : center;
}

.align-center
{
	text-align : center;
}

.align-right
{
	text-align : right; 
}

.bold
{
	font-weight : bold;
}

.italic
{
	font-style : italic;
}

.navbar-brand
{
	font-size : 1.8em;
}


/**
 * Ticket view specifications
 */


article
{
	background-color : #FFFFFF;
	border : 1px solid #ccc;
	border-radius : 5px;
	margin-bottom : 20px;
	padding : 0 20px 10px 20px;
}


/**
 * Comment specifications
 */


 legend
 {
 	margin-bottom : 0px;
 }

legend span
{
	font-size : 0.5em;
	margin-top : 9px;
}

.comment_anwser
{
	margin-left : 50px;
}

.comment-content
{
	background-color : #FFFFFF;
	padding : 20px 10px 40px 10px;
}

.no-comment
{
	margin-top : 30px;
	text-align : center;
}

.well
{
	padding-bottom : 40px;
}

.comment_report
{
	color : #e74c3c;
	margin : 0 0 40px 10px;
}


/**
 * Login specifications
 */


form
{
	margin-top : 40px;
}

/**
 * Admin page specifications
 */

.adminTable
{
	margin-top : 20px;
	margin-bottom : 20px;
}

.backblack
{
	background-color: black;
}